In [3]:
#Slicing

abc= [24,268,62,'sun','moon',72,68]
abc

[24, 268, 62, 'sun', 'moon', 72, 68]

In [5]:
abc[0:2]

[24, 268]

In [7]:
abc[3:5]

['sun', 'moon']

In [11]:
# Negative Index

abc[-4:-2]

['sun', 'moon']

In [13]:
# f string

a= 78
b= 90
sum= a+b
sum

168

In [21]:
a= 78
b= 90
sum= a+b
print(f'sum of a and b is {sum} ')

sum of a and b is 168

In [29]:
a= 78
b= 90
dif= b-a
print(f'difference of b and a is {dif} ')

difference of b and a is 12

In [31]:
a= int(input('plese enter the value of a; ')) 
b= int(input('plese enter the value of b; ')) 
sum= a+b
dif= a-b
mul= a*b
div= a/b
mod= a%b

print(f'/n the sum of two variables is : {sum}/n')
print(f'/n the sum of two variables is : {dif}/n')
print(f'/n the sum of two variables is : {mul}/n')
print(f'/n the sum of two variables is : {div}/n')
print(f'/n the sum of two variables is : {mod}/n')

please enter the value of a:  8767
please enter the value of a:  78

/n the sum of two variables is : 168/n
/n the diff of two variables is : 12/n

NameError: name 'mul' is not defined

In [35]:
a= int(input('plese enter the value of a: ')) 
b= int(input('plese enter the value of b: ')) 
sum= a+b
dif= a-b
mul= a*b
div= a/b
mod= a%b

print(f/n 'the sum of two variables is : {sum}/n')
print(f/n 'the sum of two variables is : {dif}/n')
print(f/n 'the sum of two variables is : {mul}/n')
print(f/n 'the sum of two variables is : {div}/n')
print(f/n 'the sum of two variables is : {mod}/n')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4121859650.py, line 9)

In [51]:
x= int(input('plese enter the value of x: ')) 
y= int(input('plese enter the value of y: ')) 
sum= x+y
dif= y-x
mul= y*x
div= y/x
mod= y%x
print(f'the sum of two variables is : {sum} ')
print(f'the sum of two variables is : {dif} ')
print(f'the sum of two variables is : {mul} ')
print(f'the sum of two variables is : {div} ')
print(f'the sum of two variables is : {mod} ')

plese enter the value of x:  90
plese enter the value of y:  105

the sum of two variables is : 195
the sum of two variables is : 15
the sum of two variables is : 9450
the sum of two variables is : 1.1666666666666667
the sum of two variables is : 15

In [59]:
add= lambda c,d:c*d
add(24,56)

1344

In [71]:
# loop

for i in range (0,5):
    print (i)

0
1
2
3
4

In [73]:
#loops

for i in range (0,6):
    print(i)

0
1
2
3
4
5

In [79]:
list= ['Mohan','Arjun','Anup','Ranjan','Mysore','Bangalore',65476,56767]
list

['Mohan', 'Arjun', 'Anup', 'Ranjan', 'Mysore', 'Bangalore', 65476, 56767]

In [81]:
# Length

len(list)

8

In [87]:
list1= [24,56,23,33,11,78,77,90,45,35]
even_list= []
odd_list= []
for i in list1:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)

print(odd_list)
print(even_list)

[23, 33, 11, 77, 45, 35]
[24, 56, 78, 90]

In [89]:
# While Loop

count= 0
while count<5:
    print(count)
    count= count+1

0
1
2
3
4

In [1]:
M= 0
while M<5:
    print(M)
    M= M+1

0
1
2
3
4

In [11]:
fruits= ['apple','bannaa','mango']
for F in fruits:
    print(f'I like (fruits)')

I like (fruits)
I like (fruits)
I like (fruits)

In [25]:
# Nested loop

for i in range(2):
    for j in range(1):
        print(f'values of i and J are {i+j}')

values of i and J are 0
values of i and J are 1

In [33]:
# nested Loops

for i in range(6):
    print(i)

0
1
2
3
4
5

In [43]:
# break statement

for i in range(6):
    if i==3:
     break
    print(i)

0
1
2

In [47]:
for i in range(10):
    if i ==5:
     continue
    print(i)

0
1
2
3
4
6
7
8
9

In [57]:
# Nested if and Else statement

marks= 79
if marks==100:
    print('congratz, you have nailed it')
elif marks>=91 and marks<=99:
    print('Best marks')
elif marks>=81 and marks<=90:
    print('FCD')
elif marks>=71 and marks<=80:
    print('FC')
else:
    print('average marks')

FC

In [61]:
# List comprehension

# Loop-

Salary= ['15M','30M','25M','33M']
new_salary=[]
for i in Salary:
    new_salary.append(int(i.strip('M')))

In [63]:
new_salary

[15, 30, 25, 33]

In [67]:
# List comprehension
Salary= [int(i.rstrip('M'))] for i in salary

SyntaxError: invalid syntax (595118724.py, line 2)

In [81]:
Salary

[15, 30, 25, 33]

In [83]:
# List comprehension
Salary = ['15M','30M','25M','33M']
Salary= [int(i.rstrip('M')) for i in Salary]
Salary

[15, 30, 25, 33]

In [ ]:
#